@charset "utf-8";
/*
Licensed under http://www.apache.org/licenses/LICENSE-2.0
Attribution notice: by Stefan Müller in 2013 ff.
*/
*, *::after, *::before {
    border: 0;
    font-kerning: auto;
    line-height: 1.4em;
    margin: 0;
    padding: 0;
    position: relative; /*for .local*/
}

*:hover {
    transition: background 0.2s ease,
    background-color 0.2s ease,
    border 0.2s ease,
    box-shadow 0.2s ease,
    color 0.2s ease,
    text-shadow 0.2s ease;
}

#sidebar {
    color: #505472;
    float: left;
    font-family: "molengo", "Trebuchet MS", sans-serif;
    height: 95%;
    overflow: auto;
    padding-left: 2%;
    padding-right: 16px;
    padding-top: 1.5em; /*for older browser*/
    padding-top: 3vh;
    position: fixed;
    text-align: right;
    width: 21%;
    z-index: 1;
}

#sidebar .languagechoice {
    font-size: 0.86em;
    margin-left: 12%;
    margin-top: 0.6em;
    word-spacing: 0.5em;
}

#sidebar .publisher {
    font-size: 0.65em;
    margin-top: 2em;
}

#sidebar .shadow {
    box-shadow: 0 0 3px 0 #888888;
    margin-bottom: 1px;
}

#sidebar .utilities {
    font-size: 0.86em;
    margin-top: 0.6em;
}

#sidebar a {
    border-bottom: none;
    color: #888888;
    text-shadow: 0 1px 0 #fff,
    1px 1px 0 #fff,
    1px 0 0 #fff;
}

#sidebar a:focus {
    background: #ffffff;
}

#sidebar nav a:hover {
    background: #ffffff;
    color: #000000;
}

#sidebar footer {
    margin-top: 1em;
}

#sidebar h2,
#sidebar h3,
#sidebar h4,
#sidebar h5,
#sidebar h6 {
    margin-top: -0.7em;
}

#sidebar hr {
    background: #fff;
    border-top: 1px solid #eaeaea;
    border-bottom: 2px solid #fff;
    margin: 0.4em 0 0.4em auto;
    text-align: right;
    width: 50%;
}

#sidebar li {
    list-style: none;
    margin-top: 0.1em;
}

#sidebar li::after {
    content: " ·";
}

#sidebar li.block {
    margin-top: 0;
}

#sidebar li.block::after {
    content: "";
}

#sidebar li.block a,
#sidebar li.block span {
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #fff;
    display: block;
    padding: 3px 0.5em 3px 0;
}

.abbr::after {
    content: "…";
}

.abbr:hover::after {
    content: "";
}

.abbr:hover .cut_off {
    display: inline;
}

.alt {
    display: none;
}

*:lang(de) .alt:lang(de) {
    display: inline;
}

*:lang(en) .alt:lang(en) {
    display: inline;
}

*:lang(de) .altattr::after {
    content: attr(data-de);
}

*:lang(en) .altattr::after {
    content: attr(data-en);
}

.annotation {
    border-bottom: 2px solid #fff088;
    border-left: 1px solid #fff088;
    border-right: 1px solid #fff088;
    border-radius: 0.5em;
    padding-bottom: 0.03em;
}

.authority,
.creator {
    letter-spacing: 0.2em;
}

.capsline {
    font-size: 1.06em;
}

.capsline::first-line {
    font-variant: small-caps;
}

.card {
    background: #ffffff;
    border-radius: 1px;
    box-shadow: 0 0 1px 1px #ccccf4;
    display: inline-block;
    overflow: auto;
    padding: 0.3em 0.5em;
    z-index: 0;
}

.card h1, .card h2, .card h3, .card h4, .card h5, .card h6 {
    margin-top: 0.4em;
}

.clear_left {
    clear: left;
}

.cover {
    align-content: center;
    align-items: center;
    border-radius: 1px;
    box-shadow: 1px 1px 3px 1px #aaaaaa;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    max-width: 600px;
    padding: 5em 5.5em;
}

.covertitle {
    background: #ffffff;
    opacity: 0.84;
    padding: 0.5em 2em 2em 2em;
    text-shadow: 0 0 2px #ccccee;
}

.cut_off {
    display: none;
}

.dataTables_wrapper .dataTables_info {
    float: none;
}

.dataTables_wrapper .dataTables_length {
    margin-top: 2px;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    color: inherit;
    font-size: inherit;
    padding: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    margin-bottom: 0.2em;
    padding: 0.1em 0.4em;
}

.dropcap:first-letter {
    float: left;
    font-size: 2.8em;
    line-height: 0.6;
    padding-top: 10px;
    padding-right: 5px;
    vertical-align: text-top;
}

.embed_left {
    border-radius: 1px;
    box-shadow: 1px 1px 3px 1px #aaaaaa;
    float: left;
    margin: 0.4em 2% 0 0;
}

.embed_right {
    border-radius: 1px;
    box-shadow: 1px 1px 3px 1px #aaaaaa;
    float: right;
    margin: 0.4em 0 0 2%;
}

.flexcol {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flexrow {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flush {
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    text-align: justify;
}

.flush_unhyph {
    text-align: justify;
}

.form td,
.form th {
    border-right: 1px solid #ffffff;
    font-size: smaller;
    padding: 2px 8px 1px 8px;
}

.form th {
    background: #eaf0fc;
    font-weight: normal;
    white-space: nowrap;
}

.form > tbody > tr:first-child > th {
    letter-spacing: 0.2em;
}

.form > tbody > tr > th,
.form > tbody > tr > td {
    border-top: 1px solid #ffffff;
    text-align: left;
}

.form > tbody > tr:hover {
    background: #f4f4f6;
}

.highlight {
    background: #ffffa0;
}

.index {
    background: #ffffff;
    box-shadow: 1px 1px 3px 1px #aaaaaa;
    display: table;
    font-size: smaller;
    margin-right: 2px;
    max-width: none;
    padding: 0.4em 0.6em;
}

.index #table_wrapper {
    display: table;
    max-width: none;
}

.local {
    border: none;
    color: #bbbbcc;
    font-size: 0.9rem;
    font-weight: normal;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    letter-spacing: 0;
    line-height: 1em;
    text-indent: 0;
    float: left;
    margin-left: -1.5%;
    width: auto;
}

.local::before,
.tag {
    content: attr(href);
    position: absolute;
    right: 100%;
}

.local-row {
    border: none;
    color: #bbbbcc;
    font-size: 0.9em;
}

.mapping {
    width: 100%;
}

.mapping caption.flush {
    margin: 1.4em 0 0.4em 0;
}

.mapping td {
    background: #f8f6fa;
}

.mapping td,
.mapping th {
    border-bottom: 2px solid #fcfcfc;
    font-size: smaller;
    padding: 4px 8px;
    vertical-align: top;
}

.mapping th {
    background: #eaf0fc;
    text-align: left;
    white-space: nowrap;
}

.mapping_light {
    margin-top: 0.4em;
}

.mapping_light th {
    padding-right: 15px;
    text-align: left;
    vertical-align: top;
}

.mapping_light th {
    vertical-align: top;
}

.non-source {
    color: #646474;
}

.nonowrap {
    white-space: normal;
}

.nowrap {
    display: table;
    max-width: none;
    white-space: nowrap;
    width: 50%;
}

.paragroup {
    margin-top: 1.6em;
}

.paragroup:first-child {
    margin-top: 0;
}

.resolving {
    padding-left: 40px;
    text-indent: -40px;
}

.resolving dfn {
    font-style: inherit;
    letter-spacing: 0.1em;
}

.resolving .local {
    margin-left: calc(-1.5% - 40px);
}

.search_result {
    background: #e4ecff;
    padding: 1px 5px 2px 5px;
}

.search_result:hover {
    background: #ffffff;
    box-shadow: 0 0 2px 2px #ccccee;
}

.search_result:active {
    box-shadow: none;
}

.search_result a {
    border-bottom: none;
}

.search_result a:hover {
    border-bottom: none;
}

.sheet {
    background: #ffffff;
    border-radius: 1px;
    box-shadow: 1px 1px 3px 1px #aaaaaa;
    max-width: 75%;
    padding: 8% 12% 10% 12%;
    width: 57%;
}
.sheet.autoWidth {
    padding: 8% 4% 8% 8%;
    max-width: 85%;
    width: auto;
}

.source {
    color: #000000;
}

.synopsis {
    border-spacing: 1em;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.synopsis td,
.synopsis th {
    vertical-align: text-top;
}

.synopsis td:last-child,
.synopsis th:last-child {
    font-size: 0.8em;
    width: 40%;
}

[type="submit"],
[type="reset"] {
    background: #f6f8ff;
    border: none;
    box-shadow: 0 0 1px 0 #88bbee;
    margin-left: 0.1em;
    margin-top: 0.3em;
    padding-left: 0.4em;
    padding-right: 0.4em;
}

[type="text"], [type="password"],
select {
    border-radius: 0.1em;
    box-shadow: inset 0 0 2px 0 #aaaaaa;
}

[type="text"], [type="password"],
.form select {
    width: 100%;
}

a {
    border-bottom: 1px solid #88bbff;
    color: inherit;
    text-decoration: none;
}

a:focus {
    border-bottom: 3px dotted #6688ff;
    outline: none;
}

a:hover, a:active {
    border-bottom: 3px solid #88bbff;
    outline: none;
}

a > img:hover {
    box-shadow: 0 0 3px 2px #88bbee;
}

a.note {
    border: none;
}

a.note::before,
small.note::before {
    content: attr(data-sign);
    font-size: 0.8em;
    line-height: 0;
    top: 3px;
    vertical-align: super;
}

a.card {
    border: none;
}

a.card:hover,
a.card:active {
    box-shadow: 0 0 5px 3px #88bbee;
}

.key,
a.ref,
a.refnext,
a.refprev {
    background: #f6f8ff;
    border: none;
    border-radius: 1px;
    box-shadow: 0 0 1px 0 #88bbee;
    font-size: 0.9em;
    margin: 0 0.05em;
    padding: 0 0.15em;
}

.key:focus,
a.ref:focus,
[type="submit"]:focus,
[type="reset"]:focus {
    box-shadow: 0 0 2px 0 #88bbee;
}

.key:hover,
a.ref:hover,
[type="submit"]:hover,
[type="reset"]:hover {
    box-shadow: 0 0 3px 1px #88bbee;
}

.key:active,
a.card:active,
a.ref:active,
[type="submit"]:active,
[type="reset"]:active {
    box-shadow: inset 0 0 2px 1px #88bbee;
}

.key:target,
a.ref:target {
    background: #ffff00;
}

.key:target,
a.ref:target,
.flush:target,
tr[role="row"]:target {
    animation-duration: 3s;
    animation-name: flash;
}

a.ref::before {
    content: "↗ ";
    font-size: 0.8em;
}

a.refnext::after {
    content: "►";
}

a.refprev::before {
    content: "◄";
}

body {
    background: #f8f8f8;
    float: right;
    font-size: 1.2em;
    height: 100%;
    width: 100%;
    z-index: 0;
}

canvas,
iframe,
img,
svg,
video {
    max-width: 100%;
}

code,
kbd,
pre,
samp,
tt,
xmp,
listing,
plaintext {
    font-size: 0.9em;
    font-family: "Consolas", monospace;
}

dd {
    padding-left: 4%;
}

dd + dt {
    margin-top: 0.4em;
}

dt {
    font-weight: bold;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin-top: 0.5em;
    padding: 0.3em 0.6em 0.4em 0.6em;
}

figcaption {
    font-size: 0.95em;
    margin-top: 0.4em;
    width: 100%;
}

figure {
    margin-bottom: 0.4em;
    margin-top: 0.6em;
    max-width: 100%;
}

figure img {
    width: 100%;
    object-fit: cover;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.45em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1.1em;
}

h6 {
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    break-after: avoid;
    page-break-after: avoid;
    font-weight: normal;
    margin-top: 0.8em;
    margin-bottom: 0.6em;
}

h1 + h2, h2 + h3, h3 + h4, h4 + h5, h5 + h6 {
    margin-top: -0.2em;
}

input:hover,
select:hover {
    box-shadow: inset 0 0 3px 0 #8888ff;
}

input:focus,
select:focus {
    box-shadow: 0 0 2px 1px #88bbee;
}

ins {
    text-decoration: none;
}

label:hover {
    background: #f0f0ff;
}

main {
    font-family: "Palatino nova", "Palatino Linotype", "Palatino", "URW Palladio L", "URW Palladio", "Century Schoolbook", "Georgia", serif;
    /*margin-bottom:70vh;*/ /*for jumps to .local links*/
    margin-left: 25%; /*for older browsers*/
    margin-left: 25vw;
    margin-top: 1.5em; /*for older browsers*/
    margin-top: 3vh;
    z-index: 2;
}

p {
    margin-bottom: 0.4em;
    margin-top: 0.4em;
}

p.organization {
    font-size: 1.2em;
    font-variant: small-caps;
    margin-bottom: 1em;
    margin-top: 1em;
}

p.release {
    margin-top: 1.5em;
}

p.subhead {
    break-after: avoid;
    page-break-after: avoid;
    font-size: 1.25em;
    margin-top: -0.5em;
    margin-bottom: 1em;
}

p.toc_entry_main {
    font-size: 1.2em;
    font-weight: bold;
}

select {
    max-width: 12em;
}

small.note {
    background: #ffffff;
    border-radius: 2px;
    box-shadow: 0 0 2px 1px #ccccef;
    float: right;
    font-size: 0.98rem;
    margin-right: -54%;
    padding: 3px 5px 4px 3px;
    width: 50%;
}

small.note small.note {
    background: #ffffff;
    border-radius: 2px;
    display: none;
    margin-left: 0.1em;
    padding: 0.5em;
    position: absolute;
    width: 10em;
}

small.note:target {
    z-index: 1;
}

span.note {
    border-radius: 1px;
    box-shadow: 1px 0 1px 0 #aaaaaa;
    margin: 0 0.1em 0 0.1em;
    padding: 0 0.1em 0 0.1em;
}

span.note:hover,
span.note:hover > small.note {
    box-shadow: 0 0 3px 2px #88bbee;
    z-index: 2;
}

small.note span.note:hover,
small.note span.note:hover > small.note {
    display: inline;
}

table,
td,
th {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border-collapse: separate;
    border-spacing: 0;
}

table.dataTable {
    box-shadow: 0 1px 2px 0 #aaaaee;
    margin: 5px 0;
}

table.dataTable > thead {
    background: #eaf0fc;
}

table.dataTable > thead th {
    border-bottom: 1px solid #eaf0fc;
    border-right: 1px solid #ffffff;
    padding: 4px 8px 2px 8px;
    vertical-align: text-top;
}

table.dataTable > thead th::after {
    content: " ↑↓";
}

table.dataTable > thead th:last-child,
table.dataTable > tbody td:last-child,
.form th:last-child {
    border-right: none;
}

table.dataTable > thead th:hover {
    background: #f4f4f6;
}

table.dataTable td {
    vertical-align: text-top;
    border-left: none !important;
}

table.dataTable.no-footer {
    border-bottom: none;
}

ul {
    list-style-type: none;
}

ul.list,
ol.list {
    padding-left: 1.5em;
}

ul.list .local,
ol.list .local {
    margin-left: calc(-1.5% - 1.5em);
}

ul.list {
    list-style-type: disc;
}

ul.list ul.list {
    list-style-type: circle;
}

ul.list ul.list ul.list {
    list-style-type: square;
}

@keyframes flash {
    from {
        box-shadow: 0 0 0 0.5em #aaaa00;
    }
    to {
        box-shadow: 0 0 2em 1em #ffff00;
    }
}

@media screen and (max-width: 1000px) {
    #sidebar {
        float: none;
        height: 100%;
        overflow: visible;
        padding-right: 0;
        padding-bottom: 2em;
        position: relative;
        text-align: center;
        width: 100%;
    }

    #sidebar .languagechoice {
        margin-left: 0;
    }

    #sidebar li::after {
        content: none;
    }

    .cover {
        margin: auto;
    }

    .flexrow {
        justify-content: center;
    }

    .sheet {
        width: 64%;
        padding: 5% 10% 8% 10%;
    }

    main {
        margin-left: 2px;
        padding-left: 2px;
    }

    small.note {
        margin-right: -40%;
        width: 37.5%;
    }
}

@media print, screen and (max-width: 550px) {
    .sheet {
        margin-left: 0;
        margin-right: 0;
        overflow: visible !important;
        max-width: none !important;
    }

    small.note,
    small.note small.note {
        box-shadow: none;
        clear: both;
        display: block !important;
        float: none;
        margin-left: 5%;
        margin-right: 0;
        position: relative !important;
        width: 95%;
        z-index: 1;
    }
}

@media print {
    /*Partially taken from https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css*/
    *, *::before, *::after {
        background: transparent !important;
        overflow: visible !important;
        box-shadow: none !important;
    }

    a.note::after,
    a[href^="javascript:"]::after {
        content: "" !important;
    }

    a:not(.local)::after {
        content: " (" attr(href) ")";
    }

    body > article#sidebar {
        display: none;
    }

    caption, figcaption, p, small, tr {
        orphans: 2;
        widows: 2;
    }

    figure, h1, h2, h3, h4, h5, h6, img, tr {
        page-break-inside: avoid;
    }

    h1, h2, h3, h4, h5, h6 {
        page-break-after: avoid;
    }

    img {
        max-width: 100% !important;
    }

    main {
        margin: 0;
    }

    nav.prev_next {
        display: none;
    }

    span.note {
        box-shadow: none;
    }

    table {
        border-top: 2px solid #d4d4d4 !important;
    }

    .form {
        display: none;
    }

    table td,
    table th {
        border-bottom: 2px solid #d4d4d4 !important;
    }

    thead {
        display: table-header-group;
    }
}
