@charset "utf-8";
/*
Licensed under http://www.apache.org/licenses/LICENSE-2.0
Attribution notice: by Manuel Raaf in 2016 ff partly building upon work by Stephan Müller.
*/
#showInfo {
    display: none;
    left: -999em;
}

label[for="showInfo"] {
    display: inline-block;
    margin-top: 2em;
}

div.container:not(:last-of-type) {
    margin-bottom: 1.5em;
    margin-top: 1em;
}

div.hidden {
    border: 0;
    padding: 0;
    margin: 0;
    max-height: 0;
    height: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

input[type="submit"] {
    margin-top: 1em;
}

input[type="checkbox"] {
    margin-top: 0.5em;
}

input[type="checkbox"]:checked ~ div.hidden {
    margin-top: 1em;
    margin-bottom: 1.5em;
    max-height: 9999em;
    height: auto;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all .7s linear;
    -moz-transition: all .7s linear;
    -ms-transition: all .7s linear;
    -o-transition: all .7s linear;
    transition: all .7s linear;
}

input.normal {
    width: 10em !important;
    margin-left: 5px;
    /*border: 1;*/
}

label {
    cursor: pointer;
}

div.table {
    display: table;
    table-layout: fixed;
    width: auto;
}

div.table > div.header {
    font-weight: bold;
    color: black;
    justify-content: center;
    text-decoration: underline;
}

div.table > div {
    display: table-row;
    flex: 1;
    flex-direction: row;
}

div.table > div > div, table * td {
    display: table-cell;
    flex: 1;
    flex-direction: column;
    padding: 5px 20px 5px 5px;
}

.systemMessage {
    font-weight: bold;
    color: red;
    margin-right: 5px;
}

.systemMessage:after {
    clear: both;
}

.card {
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: 10px;
}

#copyButton {
    margin-left: .5em;
}

#copyButton > span:first-of-type {
    cursor: pointer;
    font-size: x-large;
    padding: 0 5px;
}

#copyInfo {
    margin-left: .5em;
    font-size: smaller;
}

.pl-0 {
    padding-left: 0 !important;
}
.p-0 {
    padding: 0 !important;
}
.pr-0 {
    padding-right: 0 !important;
}

.breakWord {
    word-break: break-word;
}

.abgelaufen {
    color: red;
}
.gueltig {
    color: green;
}

.d-none {
    display: none !important;
}